@model PostViewModel

<div class="blog-list clearfix">
    @foreach (var item in Model.Posts)
    {
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="/Post/Detail/@item.Post.Id" title="@item.Post.Title">
                        <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <h4><a href="/Post/Detail/@item.Post.Id" title="@item.Post.Title">@item.Post.Title</a></h4>

                <p>@item.Post.Summary</p>

                @foreach (var itemCat in item.Caregories.Where(k => k.Type == "category"))
                {
                    <small class="firstsmall"><a class="bg-orange" href="/Category/@itemCat.Id" title="">@itemCat.Name</a></small>
                }
                <small><a href="tech-single.html" title="">@item.Post.CreateDate</a></small>
                <small><a href="/Author/Detail/@item.Post.UserId" title="">@item.User.FullName</a></small>
                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> @item.PostDetail.ReadCount</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->
        <hr class="invis">
    }
</div>