@model MenuViewModel

<ul class="navbar-nav mr-auto">
    @{
        var paretMenu = Model.Menus.Where(k => k.ParentMenuId == 0);
        var subMenu = Model.Menus.Where(k => k.ParentMenuId > 0);
        foreach (var item in paretMenu)
        {
            if (subMenu.Any(k => k.ParentMenuId == item.Id))
            {
                <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Name</a>
                    <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                        <li>
                            <div class="container">
                                <div class="mega-menu-content clearfix">
                                    <div class="tab">
                                        @{string first = "active";
                                            foreach (var mm in subMenu.Where(k => k.ParentMenuId == item.Id))
                                            {
                                                <button class="tablinks @first" onclick="openCategory(event, 'cat-'+@mm.Id)">@mm.Name</button>
                                                @*<button class="tablinks active" onclick="openCategory(event, 'cat02')">Technology</button>*@
                                                first = "";
                                            }
                                        }
                                    </div>
                                    <div class="tab-details clearfix">
                                        @{first = "active";
                                            foreach (var mm in subMenu.Where(k => k.ParentMenuId == item.Id))
                                            {
                                                <div id="cat-@mm.Id" class="tabcontent @first">
                                                    <div class="row">

                                                        @*@foreach (var news in subMenu.Where(k => k.ParentMenuId == item.Id))
                                                            {*@
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="tech-single.html" title="">
                                                                        <img src="upload/tech_menu_01.jpg" alt="" class="img-fluid">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat">@mm.Name</span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="tech-single.html" title="">Top 10+ care advice for your toenails</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                        @*}*@
                                                    </div>
                                                </div>
                                                first = "";
                                            }
                                        }
                                    </div><!-- end tab-details -->
                                </div><!-- end mega-menu-content -->
                            </div>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@item.Href">@item.Name</a>
                </li>
            }
        }
    }
</ul>